.Box{
    border-radius: 1rem;
    text-align: center;
    background-color: #DFEDF2;
    margin-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2rem;
}

.Box h{
    font-size: 2rem;
    color: #021F59;
}

.Header{
    padding-bottom: 1rem;
}